.Node.is-currentRoot > .Node-children {
    width: 800px;
}

.Node.is-currentRoot > .Node-children > .Node-outer {
    display: inline-block;
    vertical-align: top;
}

.Node.is-currentRoot > .Node-children > .Node-outer > .Node {
    width: 400px;

}

.CurrentLineHighlight {
    display: none !important;
}

.DocumentTools {
    top: -12px !important;
}
